html, body {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #FFFFFF;
}

div.container-fluid{
  min-width: 100%;
  height:auto;
}

div.row{
  min-width:100%;
  min-height:100%;
}

img{
  max-width: 100%;
  height: auto;
}

#wrap{
  min-height: 96%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.header{
  margin-bottom: 30px;
}
.navbar {
  height:60px;
  background-color: #C0DEED;
  color: white;
  font-size: 1.5em;
  border-bottom: 5px #C0DEED solid;
}

#nav-menu a{
 /* font-size: 1.5em;*/
  margin: 5px 15px 0 0;
  color: white;
}

.glyphicon {
  color: #000000;
  font-size: 1.0em;
  padding-left: 10px;
}

.footer {
  color: #777;
  width: 100%;
  background-color: #000000;
  color: white;
  height:60px;
  padding: 0;
  margin-left: 0px;
}

.footer .glyphicon{
  color: white;
}

.footer ul{
  padding-top: 15px;
}
.footer ul li{
  display: inline;
  list-style-type: none;
  margin: 5px;
  padding: 5px 10px 10px 5px;
}

  ul li{
   list-style-type: none;
   text-align: left;
 }

  h3{
    margin-top: 3px;
  }
  h4{
    margin-bottom: 2px;
    padding-bottom: 0px;
  }

  .panel{
    width: 800px;
    height: auto;
    padding-bottom: 0px;
    margin: 20px 0 10px 0;
    border: 2px solid #000000;
    text-align: center;
  }

  .panel > .panel-heading{
    background-color: #C0DEED;
    //border: 3px solid #E7512D;
    color: white;
    font-size:1.5em;
    text-align: left;
  }

  .panel-heading h3{
    display: inline;
  }

  .panel-heading form#friend-form{
    display: inline;
    padding-left: 50%;
    width: 100%;
  }
  .panel-default > .panel-body{
    background-color: white;
    text-align:center;
  }

  .panel-footer{
    /*background-color: white;*/
    text-align:left;
    /*color: #000000;*/
  }

  #categoryLinks{
    padding: 15px 0 0 10px;
    font-size: 1.5em;
  }

/* Responsive: Portrait tablets and down */
@media screen and (max-width: 830px) {
  html, body {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #FFFFFF;
  }

  .container {
      max-width: 100%;
      height: auto;
  }

  img{
    max-width:100%;
    height:auto;
  }

  .header,
  .footer {
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
  }

  .col-md-12{
    height: 100%;
  }

  .panel-default{
   width: 100%;
    padding: 0px;
    margin: 0;
  }

}
