html, body {
  padding-top: 25px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-image: url("https://raw.githubusercontent.com/jkmarx/TweetBinsApp/gh-pages/images/sky-and-flowers.jpg");
  background-attachment: fixed;
}

a{
  color: #000080;
}

a:hover{
  color: #006400;
}

div.container-fluid{
  min-width: 100%;
  height:auto;
}

div.row{
  min-width:100%;
  min-height:100%;
}

img{
  max-width: 100%;
  height: auto;
}

div.delete-icon{
  text-align: right;
}


button.saveTweet{
  position: relative;
  float: right;
  border: 2px solid #000080;
  border-radius: 50%;
  background: transparent;
  padding: 0 2px 3px 5px
}

#wrap{
  min-height: 96%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.header{
  margin-bottom: 30px;
}

.navbar {
  height:80px;
  background-image: url("https://raw.githubusercontent.com/jkmarx/TweetBinsApp/gh-pages/images/sky-and-flowers_header.jpg");
  background-size: 100% auto;
  color: white;
  font-size: 1.5em;
}

.navbar-nav > li > a{
  padding-top: 3px;
}

.glyphicon {
  color: #000000;
  font-size: 1em;
  padding: 0, 0, 0, 10px;
}

button.saveTweet span.glyphicon{
  color: #000080;
}

button.saveTweet span.glyphicon:hover{
  color: #ffa500;
}

a.trashLink{
  position: relative;
  float:right;
}
a.trashLink span.glyphicon{
  color: #000080;
}

a.trashLink span.glyphicon:hover{
  color: #ff0000;
}

a.removeFriend span.glyphicon{
  color: #000080;
}

a.removeFriend span.glyphicon:hover{
  color: #ff0000;
}


ul li{
  list-style-type: none;
  text-align: left;
}

a h3{
  margin-top: 3px;
  color: white;
  font-size: 1.7em;
}

h4{
  margin-bottom: 2px;
  padding-bottom: 0px;
}

.panel-body button {
  align: right;
}

.panel{
  width: 600px;
  height: auto;
  padding: 0;
  margin: 0 0 10px 0;
  border: 2px solid rgba(0,0,0,0.4);
  text-align: center;
}

.panel-transparent {
  background: none;
}

.panel-transparent .panel-heading{
  background: rgba(0,0,30,0.7)!important;
  padding: 10px;
  color: white;
  font-size:1.2em;
  text-align: left;
}

.panel-transparent .panel-body{
  background: rgba(255,255,255,0.8)!important;
  color: black;
  text-align:left;
}

.panel-transparent .panel-footer{
  background: rgba(255,255,255,0.7)!important;
  padding: 5px;
  text-align:left;
}

.panel-heading h3{
  display: inline;
}

.panel-footer form#friend-form{
  display: inline;
  padding-left: 0;
  width: 100%;
}

img.profile{
  position: relative;
  float: left;
  padding-right:5px;
}

.dropdown{
  padding-top: 15px;
  color: black;
  font-size: 1.3em;
}

.dropdown a{
  color: white;
}

.dropdown .glyphicon{
  color: white;
  padding: 0 0 0 10px;
}

.dropdown-menu > li{
  padding: 0 5px 0 5px;
}

.dropdown-menu > li > a{
  color: black;
  font-size: 1.2em;
}

#dropdownMenu2{
  color: #000000;
  text-align: left;
}

#dropdownMenu2 > .glyphicon{
  color: #000000;
  font-size: 1.3em;
}

h2#categoryTitle{
  color: white;
  float:left;
  padding: 0 10px 0px 0;
}

.categoryHeader{
  padding: 0 0 15px 0;
}


.button-submit{
  background-color:white;
}

h2.formH2{
  color: #FFFFFF;
  text-shadow: #000000 -2px -3px;
}

#loginNav a{
  padding-top: 25px;
  padding-right: 20px;
  color: white;
}

.btn-warning{
  margin-top: 10px;
}

/* Responsive: Portrait tablets and down */
@media screen and (max-width: 760px) {
  html, body {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #FFFFFF;
  }

  .container {
    max-width: 100%;
    height: auto;
  }

  img{
    max-width:100%;
    height:auto;
  }

  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }

  .col-md-12{
    height: 100%;
  }

  .panel-default{
    width: 100%;
    padding: 0px;
    margin: 0;
  }

  .dropdown{
    background-color: #001564;
    padding: 10px 10px 5px 0;
    position: relative;
    float: right;
    color: white;
    font-size: 1.3em;
 /*   display: inline;*/
  }

  .dropdown-menu > li{
    padding: 0 5px 0 5px;
    color: white;
  }

  .dropdown-menu > li > a{
    color: #FFFFFF!important;
    font-size: 1.4em;
  }

}
