html, body {
  padding-top: 25px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  /*background-color: #FFFFFF;*/
  background-image: url("/images/sky-and-flowers.jpg");
  background-attachment: fixed;
  /*background: url("110_2118.JPG");
  background-repeat: no-repeat;*/
}

a{
  /*color: #ADD8E6;*/
  color: #000080;
}

a:hover{
  /*color: #00e500;*/
  color: #006400;
}

div.container-fluid{
  min-width: 100%;
  height:auto;
}

div.row{
  min-width:100%;
  min-height:100%;
}

img{
  max-width: 100%;
  height: auto;
}

div.delete-icon{
  text-align: right;
}


button.saveTweet{
  position: relative;
  float: right;
  border: 2px solid #000080;
  border-radius: 50%;
  background: transparent;
  padding: 0 2px 3px 5px
}

#wrap{
  min-height: 96%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.header{
  margin-bottom: 30px;
}

.navbar {
  height:80px;
  background-image: url("/images/sky-and-flowers.jpg");
  /*background-image: url("http://imgur.com/NFSaw6k.jpg");*/
  background-size: 100% auto;
  /*background: rgba(0,0,70,0.2);*/
  /*background: transparent;*/
  color: white;
  font-size: 1.5em;
}

#nav-menu{
  background-color: transparent;
}
/*#nav-menu a{
 /* font-size: 1.5em;*/
  /*margin: 10px 15px 0 0;
  background-color: transparent;*/
 /* background: rgba(0,0,70,0.3);*/
  /*color: white;
  border-radius: 10px 5%;
}*/

.glyphicon {
  /*color: #FFFFFF;*/
  color: #000000;
  font-size: 1em;
  padding: 0, 0, 0, 10px;
}

button.saveTweet span.glyphicon{
/*  color: #ADD8E6;*/
  color: #000080;
}

button.saveTweet span.glyphicon:hover{
  color: #ffa500;
}

a.trashLink{
  position: relative;
  float:right;
}
a.trashLink span.glyphicon{
  color: #ADD8E6;
}

a.trashLink span.glyphicon:hover{
  color: #ff0000;
}

a.removeFriend span.glyphicon{
  color: #ADD8E6;
}

a.removeFriend span.glyphicon:hover{
  color: #ff0000;
}

.panel-body button {
  align: right;
}

.footer {
  color: #777;
  width: 100%;
  background-color: #000000;
  color: white;
  height:60px;
  padding: 0;
  margin-left: 0px;
}

.footer .glyphicon{
  color: white;
}

.footer ul{
  padding-top: 15px;
}
.footer ul li{
  display: inline;
  list-style-type: none;
  margin: 5px;
  padding: 5px 10px 10px 5px;
}

ul li{
  list-style-type: none;
  text-align: left;
}

a h3{
  margin-top: 3px;
  color: white;
  font-size: 1.7em;
}
h4{
  margin-bottom: 2px;
  padding-bottom: 0px;
}

.panel{
  width: 600px;
  height: auto;
  padding: 0;
  margin: 0 0 10px 0;
  /*background: rgba(0,0,0,0.4);*/
  background: white;
  color: black;
  border: 2px solid rgba(0,0,0,0.4);
  text-align: center;
}

.panel-transparent {
  background: none;
}

.panel-transparent .panel-heading{
  background: rgba(0,0,30,0.7)!important;
  padding: 10px;
  color: white;
  font-size:1.2em;
  text-align: left;
}

.panel-transparent .panel-body{
   /* background: rgba(255,255,255,0.7)!important;*/
   /*background: rgba(0,0,30,0.7)!important;
   color:white;*/
  background: rgba(255,255,255,0.8)!important;
  color: black;
  text-align:left;
}

.panel-transparent .panel-footer{
  background: rgba(255,255,255,0.7)!important;
  padding: 5px;
  text-align:left;
}

.panel-heading h3{
  display: inline;
}

.panel-footer form#friend-form{
  display: inline;
  padding-left: 0;
  width: 100%;
}

img.profile{
  position: relative;
  float: left;
  padding-right:5px;
}

#categoryLinks{
  width:100%;
  padding: 10px 20px 10px 20px;
  font-size: 1.5em;
}

#sideOptions {
position: fixed;
border-radius: 10px 5%;
top: 100px;
padding: 5px 10px 21px 10px;
background: rgba(0,0,30,0.7);
color: white;
}

#categoryLinks a{
  color: white;
}

.dropdown-menu > li{
  color: black;
  padding: 5px;
}

.dropdown-menu > li > a{
  color: black;
  font-size: 1.2em;
}

/* Responsive: Portrait tablets and down */
@media screen and (max-width: 830px) {
  html, body {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #FFFFFF;
  }

  .container {
      max-width: 100%;
      height: auto;
  }

  img{
    max-width:100%;
    height:auto;
  }

  .header,
  .footer {
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
  }

  .col-md-12{
    height: 100%;
  }

  .panel-default{
   width: 100%;
    padding: 0px;
    margin: 0;
  }

}
