<div class="col-xs-2 col-sm-3">
  <div class="image-container">
    <img src="https://raw.githubusercontent.com/jkmarx/TweetBinsApp/gh-pages/images/circular_jm.jpg" alt="J. Marx Photo">
  </div>
</div>
<div class='col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3'>
  <div class='panel panel-default panel-transparent'>
    <div class='panel-body' class="about-project">
    <h3> About Project</h3>
    <p>
     <a href="https://github.com/jkmarx/TweetBinsApp">TweetStreams App Code</a>,<a href="https://github.com/jkmarx/TweetBinsAPI">TweetStreams Api Code</a> : The TweetStreams project was created by <a href="http://www.jkmarx.com">Jennifer Marx </a>to meet the requirements for Project 3 of Boston-General Assembly's Web Development Immersive in April 2015. It uses a Rails API and an Angular front-end.
    </p>

    <p>
    <h3>Features</h3>
    <ul>
      <li>&#8226 This app uses OAuth 1.0 to access a user's tweets and friends through the TweetStreams API which interfaces with the Twitter API.</li>
      <li>&#8226 The user can sort friends into various streams.</li>
      <li>&#8226 The user can create, edit, and delete a stream.</li>
      <li>&#8226 The user can also save tweets in a list for future reference.</li>

    </ul>
    </p>

    <p>
    <h3>Contact Jennifer K. Marx</h3>
    <ul>
      <li><a href="mailto:jennifer@jkmarx.com">jennifer@jkmarx.com</a></li>
      <li><a href="http://www.jkmarx.com"><h4>Portfolio Site</h4></a></li>
      <li><a href="https://github.com/jrutledg"><h4>GitHub Account</h4></a></li>
      <li><a href="https://twitter.com/jenniferkmarx" class="twitter-follow-button" data-show-count="false">Follow @jenniferkmarx</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></script></li>

    </p>

    </div>
  </div>
</div>

