
<div id="sideOptions">
  <ul id="categoryLinks">
    <li> <a href="#/dashboard">All Tweets</a></li>
    <li ng-repeat="category in categoriesCtrl.categories">
      <a href="#/categories/{{category.id}}">{{ category.name }}</a>
    </li>
    <li>
      <a href="#/saveTweets">Saved Tweets</a>
    </li>
  </ul>

    <form role="form" name="upsertCategory" ng-submit="categoriesCtrl.upsertCategory(categoriesCtrl.category)" novalidate ng-controller="CategoriesCtrl as categoriesCtrl">

      <h4 ng-if="!categoriesCtrl.category.id">Create Bin</h4>
      <h4 ng-if="categoriesCtrl.category.id">Update Bin</h4>

      <div class="form-group">
        <input type="text" class="form-control" ng-model="categoriesCtrl.category.name" placeholder="Enter New Bin" style="width: 200px">
      </div>

      <button type="submit" class="btn btn-primary btn-xs" ng-disabled="upsertCategory.$invalid">Submit</button>

      <button type="reset" class="btn btn-default btn-xs" ng-click="categoriesCtrl.cancel()">Cancel</button>
      </form>
    </div>
  </div>
</div>
