
<div class='col-md-3'> <di-categories categories="categoriesCtrl.categories"></di-categories></div>

<div ng-controller="CategoryCtrl as categoryCtrl">
  <h2>Name: {{categoryCtrl.category.name}}</h2>
<!--     <li>Category: {{categoryCtrl.category.friends}}</li> -->

    <!-- <div class='col-md-9'>
    <di-tweets tweets="tweetsCtrl.tweets" category="categoryCtrl.category"></di-tweets></div>
    </div> -->
  <ul ng-controller="TweetsCtrl as tweetsCtrl">
    <li ng-repeat="tweet in tweetsCtrl.tweets | tweetsFilter:this" ><strong>Name:</strong> {{ tweet.userScreenname }}<br>{{ tweet.text }}<br> <em>Created: {{ tweet.created_at }}</em></li>
  </ul>
</div>



