
<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
  Tweets <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a href="#/tweets">All Tweets</a></li>
    <li role="presentation"><a href="#/saveTweets">Saved Tweets</a></li>
    <li role="presentation" ng-repeat="category in categoriesCtrl.categories"><a role="menuitem" tabindex="-1" href="#/categories/{{category.id}}">{{ category.name }} Stream</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
        <form role="form" name="upsertCategory" ng-submit="categoriesCtrl.upsertCategory(categoriesCtrl.category)" novalidate ng-controller="CategoriesCtrl as categoriesCtrl">

      <h4 ng-if="!categoriesCtrl.category.id">Create Bin</h4>
      <h4 ng-if="categoriesCtrl.category.id">Update Bin</h4>

      <div class="form-group">
        <input type="text" class="form-control" ng-model="categoriesCtrl.category.name" placeholder="Enter Bin Name" style="width: 200px">
      </div>

      <button type="submit" class="btn btn-primary btn-xs" ng-disabled="upsertCategory.$invalid">Submit</button>
      </form>
    </li>
  </ul>
