
<div class="col-md-10 col-md-offset-2">
<h2> Sign-In</h2>
<form class="login-app-form" name="loginAppForm" ng-submit="loginAppCtrl.login(loginAppCtrl.credentials)" novalidate>
  <div class="form-group">
    <input id="email" type="text" placeholder="email"name="email" ng-model="loginAppCtrl.credentials.email" required>
    <input id="password" type="password" placeholder="password" name="password" ng-model="loginAppCtrl.credentials.password" required>
    <input type="submit" class="button-submit" ng-disabled="loginAppForm.$invalid" value="Login">
  </div>

</form>
