<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#/">TweetBinsApp</a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li ng-if="!NavbarCtrl.isLoggedin()"><a ng-href="#/loginApp">Login</a></li>
        <li ng-if="NavbarCtrl.isLoggedin()"><a href="javascript:void(0)" ng-click="NavbarCtrl.logout()">Logout</a></li>
        <li ng-if="NavbarCtrl.isLoggedin()"><a ng-href="#/dashboard">Dashboard</a></li>
      </ul>
    </div>
  </div>
</div>
