<div class='col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2'>
  <div ng-controller="SaveTweetsCtrl as saveTweetsCtrl">
    <h2 class="formH2">Saved Tweets</h2>
    <div ng-repeat="saveTweet in saveTweetsCtrl.saveTweets" >
    <div class='panel panel-default panel-transparent'>

      <div class='panel-body'>
        <a class="trashLink" ng-dblclick="saveTweetsCtrl.deleteSaveTweet(saveTweet)"><span class="glyphicon glyphicon-trash"></span></a>
        <img src={{saveTweet.profile_image_url}} class="profile">
        <div ng-bind-html="saveTweet.text"> </div>
      </div>
      <div class='panel-footer'>
      <div>
        <strong> <a href="https://twitter.com/{{ saveTweet.userScreenname }} " target="_blank"> {{ saveTweet.userScreenname }}</a> </strong>at <em>{{ saveTweet.created_at }}</em>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


