<div class='col-md-10'>
  <div ng-controller="TweetsCtrl as tweetsCtrl">
    <div ng-repeat="tweet in tweetsCtrl.tweets | tweetsAddLinks" >
      <div class='panel panel-default panel-transparent'>
        <!-- <div class='panel-heading'>
            <h3>{{ tweet.userScreenname }}</h3>
        </div> -->

            <!-- <div ng-controller="FriendCtrl as friendCtrl">
            <form role="form" name="upsertFriendForm" ng-submit="friendCtrl.upsertFriend(friendCtrl.friend)">

              <div class="form-group">
                <select class="select-category" ng-model="friendCtrl.friend.category_id" required>
                <option value=''>Select Category</option>
                <option ng-repeat="category in friendCtrl.categories" value={{category.id}}>{{category.name}}</option>
                </select>

              </div>
              <div class="form-group">
              <input type="hidden" required ng-model="friendCtrl.friend.twitterId" ng-init="friendCtrl.friend.twitterId=tweet.userId" />
              </div>
              <button type="submit" class="btn btn-primary btn-xs">Submit</button>
            </form>
        </div> -->

        <div class='panel-body' ng-controller="SaveTweetsCtrl as saveTweetsCtrl">

          <button class="saveTweet" ng-click="saveTweetsCtrl.upsertSaveTweet({{tweet}})"><span class="glyphicon glyphicon-pushpin"></span></button>
          <img src={{tweet.profile_image_url}} class="profile">
          <div ng-bind-html="tweet.text"></div>
        </div>
        <div class='panel-footer'>
          <strong> {{ tweet.userScreenname }} </strong>at <em>{{ tweet.created_at }}</em>
          <form role="form" id="friend-form" name="upsertFriendForm" ng-submit="tweetsCtrl.upsertFriend($scope.tweetsCtrl.friend)">
              <select class="select-category" ng-model="$scope.tweetsCtrl.friend" required>
              <option value=''>Select Bin</option>
              <option ng-repeat="category in tweetsCtrl.categories" value="{{category.id}}, {{tweet.userId}}">{{category.name}}</option>
              </select>
              <button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
          </form>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
